body {
  background: url(https://i.gifer.com/g2Bn.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.container {
  border: 3px solid black;
  width: 550px;
  height: 550px;
  padding: 20px;
  margin: 20px auto 0px;
  background: url(https://i.imgur.com/Ne6UQg5.jpg) no-repeat;
  font-family: "Open Sans Condensed", sans-serif;
  border-radius: 5px;
}

.row {
  width: 248px;
  line-height: 33px;
  margin: 10px 0px;
  padding: 10px 0px;
}

.textbox {
  width: 205px;
  font-size: 17px;
}

.day-of-week {
  font-size: 25px;
  padding: 0px 10px;
  font-weight: bold;
}

.temp {
  font-size: 20px;
  text-align: right;
  padding: 0px 10px;
}

#main-icon {
  width: 150px;
  display: block;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  bottom: 30px;
}

.col-4 {
  width: 248px;
}

.container-2 {
  background: rgba(255, 255, 255, 0.2);
  border: 1px dashed black;
  padding: 10px;
  width: 290px;
  position: relative;
  top: -467px;
  left: 220px;
  height: 465px;
  font-family: "Open Sans Condensed", sans-serif;
  border-radius: 10px;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto;
  font-weight: bold;
  padding: 0px, 5px;
  text-transform: capitalize;
}

.date-time {
  font-size: 20px;
  margin: 0;
}

.wind,
.humidity {
  position: relative;
  bottom: 23px;
  margin: 0px;
  font-size: 20px;
  color: #fff;
}

.far {
  padding: 5px 0px;
  font-size: 130px;
  width: 178px;
  text-align: center;
}

.current-temp {
  font-size: 85px;
  text-align: right;
  line-height: 60px;
  width: 270px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  margin: 0px;
}

.f,
.c,
.line {
  text-align: right;
  font-size: 20px;
  position: relative;
  top: -50px;
}

.date-time,
.city {
  text-align: right;
}

#weather {
  text-align: right;
  color: #000;
  padding: 8px 0px 0px 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.foot {
  font-family: "Courier New", Courier, monospace;
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#button-loc {
  background: #92D48E;
  border-radius: 5px;

}

h1.city {
  padding: 25px 0px 2px 0px;
}
